{% extends "base.html.twig" %}

{% block body %}
    <h1>Toutes les catégories </h1>
    <a class="my-5" href="{{ path('app_index') }}" >
        Retour à l'accueil
    </a>

    {% if is_granted("ROLE_ADMIN") %}
    <div class="my-5 ">
        <a href="{{ path("category_new")}}" class="btn btn-primary">Ajouter une catégorie</a>
    </div>
    {% endif %}

    <div class="container my-5">
        <div class="row">
            {% for category in categories %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card card-body text-center my-3 border-primary">
                            <a href="{{ path("category_show", { categoryName: category.name }) }}"><h2> {{ category.name }} </h2></a>
                        </div>
                </div>
            {% else %}
                Aucune catégorie trouvée.
            {% endfor %}
        </div>
    </div>




{% endblock %}
