{% extends "base.html.twig" %}

{% block body %}
    <h1>Ajouter une catégorie </h1>
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type='submit' value='Ajouter'>
            {{ form_end(form) }}
        </div>


    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
