{% extends 'base.html.twig' %}

{% block title %}New Season{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Ajouter une saison</h1>

    <div class="container">
        <a href="{{ path('season_index') }}" class="btn btn-primary my-5">Revenir à la liste</a>
        {{ include('season/_form.html.twig') }}
    </div>

{% endblock %}
