{% extends "base.html.twig" %}

{% block body %}
    <h1>Tous les acteurs </h1>
    <a class="my-5" href="{{ path('app_index') }}" >
        Retour à l'accueil
    </a>

    {% for actor in actors %}
        <div>
            <a href="{{ path('actor_show', { id: actor.id} ) }}"><h2> {{ actor.name }} </h2></a>
        </div>
    {% else %}
        Aucun acteur trouvé.
    {% endfor %}



{% endblock %}
